*{
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("https://cdn.pixabay.com/photo/2015/12/08/00/36/woman-1081873__340.jpg");
}

p{
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif
}

.photo img{
    border-radius: 60%;
}
.Kash{
    text-align: center;
}

ul li{
    padding:20px;
    display: block;
}


li{
    font-size: 40px;
    color: black
}

nav{
    background-color: white;
}

h1{
    color: red;
    font-style: italic;
    text-align: center
}
h2{
    color: blue;
    font-style: italic;
    text-align: center;
    font-size: 40px;
}
ul{
    line-height: 40px;
}
.intro{
    font-style: italic;
}